<div class="container" *ngIf="progressWindowService.getDisplayProgressWindow() | async">
    <div class="container__title">
        <div class="title__text">{{files.length}} uploaded files</div>
        <div class="title__icons">
            <i 
            class="pi pi-chevron-down" 
            (click)="onMinimizeIconClicked()"
            [ngClass]="{'pi-chevron-up': !displayContent}"
            ></i>
            <i class="pi pi-times" (click)="onCloseIconClicked()"> </i>            
        </div>
        
    </div>
    <div class="container__list" *ngIf="displayContent">
        <app-file-item *ngFor="let file of files" [file]="file"></app-file-item>
    </div>
    

</div>